.header {
    background-color: #272779;
    padding-bottom: 30px;
    padding-top: 30px;
}
.header__content {
}
.input {
    background-color: #61C9A8;
    border-radius: 50px;
    color: #4C3B4D;
}
.input--search {
    width: 655px;
    padding: 15px 5px;
    font-size: 30px;
    font-weight: 500;
}
.modes-list {
}
.modes-list__item {
}
.btn-mode {
}
.btn-mode--night {
}
.btn-mode__icon {
}
.btn-mode--light {
}