body.night{
    .header {
        background-color: #272779;
    }
    .tablet-notes__content{
        background-color: #37570D;
    }
    .body{
        background-color: rgb(22, 28, 54);
    }
}
.header {
    background-color: #B79CED;
    padding-bottom: 30px;
    padding-top: 30px;
}
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input {
    background-color: #FFFFFF;
    border-radius: 50px;
    color: #4C3B4D;
}
.input--search {
    width: 655px;
    padding: 15px 5px;
    font-size: 30px;
    font-weight: 500;
}
.modes-list {
    display: flex;
    justify-content: end;
    column-gap: 30px;
}
.modes-list__item {
}
.btn-mode {
    background-color: #000022;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;

    &.active{
        transform: scale(1.5);
        
    }
    &:hover{
        background-color: #FFFFFF;
        transform: scale(1.5) rotate(360deg);
        .btn-mode__icon{
            fill: black;
        }
    }
}
.btn-mode--night {
}
.btn-mode__icon {
    fill: #FFFFFF;
}
.btn-mode--light {
    background-color: #F5E960;

    .btn-mode__icon{
        fill: black;
    }
}